.container.main-view

    .row
        .col-lg-12
            revision-status

    .row
        br
        .col-lg-12
            entry-list-context(no-navigation="no-navigation")

    br
    .row
        .col-lg-12
            entry-list(entries="selectedEntries", export="export()")
