.container.main-view
  .row
    .col-lg-12
      .row
        svg(style="margin: 0 auto;")
        div
            button.prepare-download(type="button", ng-click="prepareDownload()") Prepare Download
