p
    .pill(ng-repeat="pill in pills") 
        .pill-dimension {{ pill.dimension }}
        .pill-value(ng-if="pill.value && pill.value.startYear && pill.value.startYear == pill.value.endYear")
          strong {{ pill.value.startYear }}
        .pill-value(ng-if="pill.value && pill.value.startYear && pill.value.startYear != pill.value.endYear")
          strong {{ pill.value.startYear }} - {{ pill.value.endYear }}
        .pill-value(ng-if="pill.value && !pill.value.startYear")
          span(ng-show="pill.value | isArray" ng-repeat="value in pill.value track by $index")
            span(ng-show="$index > 0") or 
            strong(ng-class="{'pill-negative': value.negative === true}") {{ value._id || value }} 
          strong(ng-hide="pill.value | isArray") {{ pill.value }}
        .pill-value.border-left(ng-if="allowRemove")
          a.text-danger(ng-click="removeFromQuery(pill.key)", data-toggle="tooltip", title="Remove")
            i.fa.fa-trash-o