p
    .pill(ng-repeat="pill in pills") 
        .pill-dimension(ng-if="pill.dimension !== 'DBITI employments & identifiers' && pill.dimension !== 'index'") {{ pill.dimension }}
        .pill-dimension(ng-if="pill.dimension == 'index'") Entry ID
        .pill-dimension(ng-if="pill.dimension === 'DBITI employments & identifiers'", style="font-style: italic; padding: 7px 0px 7px 10px") DBITI 
        .pill-dimension(ng-if="pill.dimension === 'DBITI employments & identifiers'", style="font-style: normal; padding: 7px 10px 7px 0px") employments & identifiers
        .pill-value(ng-if="pill.value.uniques")
          span(ng-show="pill.value.uniques | isArray" ng-repeat="value in pill.value.uniques track by $index")
            span(ng-show="$index > 0 && pill.value.operator === 'or' ")  or 
            span(ng-show="$index > 0 && pill.value.operator === 'and' ")  and 
            strong(ng-class="{'pill-negative': value.negative === true}") {{ value._id || value }}
        .pill-value(ng-if="!pill.value.uniques")
          strong {{ pill.value }}
        .pill-value.border-left(ng-if="allowRemove")
          a.text-danger(ng-click="removeFromQuery(pill.key)", data-toggle="tooltip", title="Remove")
            i.fa.fa-trash-o