.header-wrapper
  .header
    .container
      h1 Grand Tour Explorer 
        sup.small beta
        .small Explore the journeys and the lives of British and Irish travelers to eighteenth-century Italy
      button.btn.btn-lg.btn-success.btn-lavender(ui-sref="search") Start exploring 
       i.fa.fa-angle-right

.container.main-view

  .row
    .col-lg-12

      p.text-serif A digital project created by Giovanna Ceserani and Giorgio Caviglia at CESTA Stanford University
      
      h3 The Grand Tour Explorer is a digital transformation of John Ingamells’ 
        em A Dictionary of British and Irish Travellers in Italy 1701-1800 
        | (published for the 
        em Paul Mellon Centre for Studies in British Art 
        | by 
        em Yale University Press, 
        | 1997). It transforms this text into a research tool that facilitates multidimensional searching and browsing of the entries in Ingamells’ Dictionary; the organization of this information into structured and usable data; and the analysis and visualization of this data. 
        a(ui-sref="about") Learn more...


      p.text-serif The tool is still under construction; private beta version currently being tested with the support of Malcolm Baker, John Brewer, Melissa Calaresu, Jeffrey Collins, Paul Davis, Christopher Johns, Simon Macdonald, Carole Paul, Sophus Reinert, Catherine Sama, Rosemary Sweet.



      p.text-serif For information about the project, please contact Giovanna Ceserani at 
        a(href="mailto:ceserani@stanford.edu") ceserani@stanford.edu
