.header-wrapper
  .header
    .container
      h1 The Grand Tour Explorer 
      p A dynamic and augmented database transformation of The Dictionary of British and Irish Travelers to Italy 1701-1800 to explore the lives and journeys of thousands of travelers as data, including for many-- mostly women--previously forgotten
    .box-container
      box
        h3 Search 
        small Search and filter the database
        span.bottom start searching
        img(src=arrow.png)
