.header-wrapper
  .header
    .header-container
      div
        h1 The Grand Tour Explorer 
        p A dynamic and augmented database transformation of The Dictionary of British and Irish Travelers to Italy 1701-1800 to explore the lives and journeys of thousands of travelers as data, including for many-- mostly women--previously forgotten
      .box-container
        a.box(ui-sref="explore")
          h3 Explore 
          p Browse and filter the database by multiple dimensions
        a.box(ui-sref="search")
          h3 Search 
          p Search and filter the database
        a.box(ui-sref="chart")
          h3 Chart 
          p Visualize and sort the travelers as dots
        a.box(ui-sref="map")
          h3 Map 
          p Visualize travel locations on an interactive map
        a.box(download,href="/GTE Coordinates.txt")
          h3 Data 
          p Access stored data in Stanford Digital Repository
            img(src='arrow-icon.png')
        a.box(ui-sref="explore")
          h3 Glossary 
          p Read descriptions of each data dimension
