.header-wrapper
  .header
    .container
      h1 Grand Tour Explorer 
      button.btn.btn-lg.btn-lavender(ui-sref="search") Start exploring 
       i.fa.fa-angle-right

.container.main-view

  .row
    .col-lg-12

      p.text-serif Many people contributed to making the Explorer a reality—see the full list of contributors for more details, but here we acknowledge the lead design and development of Giorgio Caviglia (2013-2015), and the further development and design work by Ashwin Ramaswami (2018-2023), Cody Leff (2015-2018), Raagavi Ragothaman (2023) and Ryan Tan (2019-2023).
      
      //- h3 The Grand Tour Explorer is a dynamic and interactive resource for the exploration of eighteenth-century British travel to Italy. At its core is the digital transformation of the 5232 entries in 
      //-   em A Dictionary of British and Irish Travelers in Italy 1701-1800 
      //-   | (compiled by John Ingamells from the Brinsley Ford Archives at the Paul Mellon Center in London, YUP 1997). The dictionary's alphabetized print form is recast into a multidimensional digital database about the lives and journeys of more than 6000 travelers. As a research tool, the Grand Tour Explorer facilitates searching and browsing this mass of information; it organizes this information into structured and usable data; and it enables the analysis and visualization of this data.


      h3 This is an open access digital resource: you can explore freely, save the results of your explorations, and download the data for your further research. Learn more about the 
        span.hover-item history 
        | of this project and about the 
        span.hover-item rationale 
        | and uses both of the Grand Tour Explorer and of the 
        span.hover-item database 
        | at its core; 
        span.hover-item read essays 
        | by leading scholars using this tool to exemplify its research uses; and see how to involve it in your 
        span.hover-item teaching
        | .

      //p.text-serif The Grand Tour Explorer was made possible by the intellectual generosity of the Paul Mellon Center in London, and by generous funding from the Roberta Denning Fund for Humanities and Technologies at Stanford, the Stanford Dean of Research Office, the Stanford Dean of Humanities and Science Office, and the Center for Spatial and Textual Analysis (CESTA) at Stanford University. Many people contributed: Celena Allen, Teresa Ceserani, Nicole Coleman, Thea de Armond, Kevin Garcia, Ryan Heuser, Rachel Midura, Justin Muchnick, Clara Romani, Christopher Rovee, Matthew Tan. Read more about their individual contributions at 
      //  a(href="https://grandtour.stanford.edu/people/our-team") https://grandtour.stanford.edu/people/our-team.
