.form-group    
  label {{label}} 
    span.text-muted(ng-show="subgroup") {{subgroup}} 

  .facet-wrapper
    
    .facet-overlay(ng-show="false")
      span.text-muted.small Loading...

    .clear-input
      input.input-sm.margin-bottom.form-control(type="text", ng-model="search._id", placeholder="Search...")
      .fa.fa-times-circle.clear-input-icon(ng-click="search._id = ''", ng-show="search._id.length")

    div.margin-bottom(ng-show="uniques.length")
      a.small(ng-click="open=!open") {{ open ? 'Show selected only' : 'Show all' }}  
      div.select-facet-sorting.btn-group.btn-group-xs(ng-model="sortingSelection", ng-init="sortingSelection = '-count'")
        button.btn.btn-default#sort-by-count(type="button", ng-click="sortingSelection = '-count'") #
        button.btn.btn-default(type="button", ng-click="sortingSelection = '_id'") A
    
    .mini-table(ng-show="uniques.length")
      table.table
        tbody
          tr(ng-repeat="u in filtered = (uniques | filter:search | orderBy:sortingSelection)", ng-class="{ closed: !u.count }", ng-show="open || u.selected")
            td
              .checkbox
                label(ng-class="field === 'fullName' && u.parentFullName !== u._id ? 'explore-alternate-name' : ''")
                  input(type="checkbox", ng-model="u.selected", ng-change="refresh(u)", ng-disabled="!u.count")
                  span {{u._id}} 
                  span.text-light.pull-right {{u.count}}
                  span.alternate-name-see(ng-show="field === 'fullName' && u.parentFullName !== u._id") (see {{u.parentFullName}})
          tr(ng-show='!filtered.length')
            td 
              span.text-light Sorry, no results for 
                strong {{search._id}}
