<header class="site-cover">

  <div class="wrapper">

    <div class="" style="display: flex; padding-bottom: 60px;">
      <div class="" style="max-width: 500px; padding-top: 0px">
        <span class="site-description" style="margin-left: 20px;">The Digital Grand Tour</span>
        <h2 class="cover-title">{{ site.title }}</h2>
        <span class="cover-author" style="margin-left: 80px;">Giovanna Ceserani</span>
      </div>
      <div class="cover-intro">
        <p>
          In the eighteenth century thousands of northerners traveled to Italy for a journey of cultural and symbolic capital called at the time the Grand Tour. These travels were a formative institution of modernity, contributing to a massive reimagining of politics and the arts, of the market for culture, of ideas about leisure, and of practices of professionalism.
        </p>
        <p>
          In this volume Giovanna Ceserani, Associate Professor of Classics at Stanford University, makes public the work she directed, transforming the more than five thousand entries in the Dictionary of British and Irish Travelers to Italy (compiled by John Ingamells from the Brinsley Ford Archive) to create a dynamic searchable database, along with digital visualizations, of these travelers’ journeys and lives; essays, and teaching material.
        </p>
        <p>Nullam tortor dui, facilisis quis neque at, tincidunt efficitur erat. Nulla in nisl ullamcorper, porttitor felis id, feugiat dolor. Etiam porta porta ullamcorper. Praesent condimentum elit odio, pretium accumsan nulla pulvinar maximus.</p>
      </div>
    </div>
  </div>

  <div class="cover-credits">Thomas Jones, <i>Lake Albano,</i> 1777. Yale Center for British Art, Paul Mellon Collection</div>
  <div class="cover-scroll">
    <div class="cover-scroll-arrow"></div>
  </div>

</header>
