<script>

  var content = document.getElementById("postContent");
  var paragraphs = content.getElementsByTagName("p");
  var links = document.getElementsByClassName("paragraph-links")[0];

  document.getElementsByClassName("overlay-close")[0].addEventListener("click", function(e){
    document.getElementsByClassName("overlay")[0].classList.remove("visible");
  })

  let pNum = 1;
  //paragraphs.onmousemove = handler;
  for (let p of paragraphs) {
    var children = p.childNodes;
    var parent = p.parentElement;

    if (children[0] && children[0].nodeName != "A" && parent.nodeName != "LI" && parent.className != "post-abstract" && parent.className != "post-about" && parent.className != "paragraph-link") { // exclude tables, non-body paragraphs
      let label = links.childNodes[1];
      label.innerHTML = "Par. " + pNum;
      pNum++;

      var cln = links.cloneNode(true);

      p.appendChild(cln);

      cln.style.height = p.offsetHeight + "px";


      /*p.addEventListener("mouseover", function(e){
          var links = p.getElementById("paragraphLinks");
          links.classList.add("visible");
      })

      p.addEventListener("mouseout", function(e){
          var links = p.getElementById("paragraphLinks");
          links.classList.remove("visible");
      })*/
    }
  }

  var ls = document.getElementsByClassName("link-cite");

  for (let link of ls) {
    link.addEventListener("click", function(e){
      document.getElementsByClassName("overlay")[0].classList.add("visible");
    })
}





</script>
