.container.main-view

    .row
        br
        .col-lg-12
            revision-status

    .row
        br
        .col-lg-12
            entry-list-context(no-navigation="no-navigation")

    .row
        br
        .col-lg-12
            visualizations(dimensions="[ 'gender', 'entryLength' ]")

    .row(ng-show="entryListVisible")
        br
        .col-lg-12
            entry-list(entries="entries", export="export()")
