body {
  font: 13px "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding-bottom: 100px;
}

.article {
  -webkit-columns: 2 250px;
     -moz-columns: 2 250px;
          columns: 2 250px;
}

.header-wrapper {
  background-image: url('background.jpg');
  background-size: cover;
  background-position: 50% 20%;
}

.header {
  background-color: rgba(0,0,0,.7);
  padding: 120px 0px;
  color: #eee;
}

.header h1 {
  letter-spacing: 1px;
  font-size: 48px;
}

.header h1 .small {
  letter-spacing: normal;
  font-weight: 100;
  color: #999;
  line-height: 1.3;
}

.main-view {
  margin-top: 20px;
}

.text-mono {
  font-family: 'Cousine', courier, monospace;
  font-size: 12px;
}

.text-light {
  color: #aaa;
}

.text-strong {
    font-weight: bold;
}

.text-serif {
  font-family: "freight-text-pro", "Georgia", serif;
  font-size: 18px;
  line-height: 1.7;
}

.text-serif.small {
  font-size: 14px;
}

.text-large {
  font-size: 1.3em;
}

label {
  font-size: 12px;
}

/* Margin */
.margin-right {
  margin-right: 5px;
}

.margin-left {
  margin-left: 5px;
}

.margin-top {
  margin-top: 5px;
}

.margin-bottom {
  margin-bottom: 5px;
}
/* Border */
.border-right {
  border-right: 1px solid #eee;
}

.border-left {
  border-left: 1px solid #eee;
}

.border-top {
  border-top: 1px solid #eee;
}




.h1, h1, .h3, h3 {
  font-family: "freight-text-pro";
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 1.6;
}

.h1, h1 {
  font-family: "freight-text-pro", "Georgia", serif;
  font-weight: 200;
}

/*.h4, h4 {
  font-size: 13px;
  font-weight: 600;
  margin-top: 0px;
  padding: 3px 0px;
}*/

.h4, h4 {
  font-size: 15px;
  font-family: "freight-text-pro", "Georgia", serif;
  font-weight: 600;
}

a {
  cursor: pointer;
}

a:focus,
:focus,
*:focus {
  outline: none;
  text-decoration: none;
}

.query {
  font-size: 12px;
  color: #888;
  border: none;
  border-radius: 2px;
}
/*
.form-group {
  background: #fafafa;
  padding: 10px;
}*/

.facet-wrapper {
  position: relative;
}

.select-facet-sorting {
  float: right;
}

.facet-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,.9);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}


.form-control {
    border: 1px solid #eee;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:focus {
    border-color: #aaa;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    opacity: .5;
}

.form-control.filled {
    background-color: #FDFFD6;
    border-color: #ccc;
}

.progress {
  height: 34px;
  border-radius: 2px;
  margin-bottom: 0px;
}

.progress-bar {
  line-height: 34px;
}

input[type=checkbox], input[type=radio] {
    margin: 2px 0 0;
}

.btn {
  border-radius: 2px;
}

.navbar-default .navbar-brand {
  font-family: "freight-text-pro", "Georgia", serif;
  color: #222;
}

.navbar-default {
  border-bottom: none;
  padding: 10px 0px;
  margin-bottom: 0px;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
    font-weight: 500;
}

sup {
  cursor: pointer;
  color: #666;
}

.tnum-lnum {
  font-feature-settings: 'tnum', 'lnum';
  -moz-font-feature-settings: 'tnum', 'lnum';
  -webkit-font-feature-settings: 'tnum', 'lnum';
  -ms-font-feature-settings: 'tnum', 'lnum';
  -moz-font-feature-settings: 'tnum=1,lnum=1';
}



/* Panels */

.panel {
  font-family: "freight-text-pro";
}

.panel a {
  color: #227AB9;
}

.panel a:hover {
  color: #222;
  text-decoration: none;
  background-color: #FDFFCA;
  border-radius: 2px;
}

.panel-default>.panel-heading {
/*  font-family: "europa", "Helvetica", "Arial", sans-serif;*/
  font-weight: 600;
}

.entry-info .panel {
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
/*  margin-bottom: 30px;*/
}

.entry-info .panel-heading {
  background-color: #fff;
  padding: 3px 0px;
  border-bottom: 1px solid #ddd;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  font-size: 14px;
}

.entry-info .list-group-item {
  border: 1px solid #eee;
}

.entry-info .panel>.list-group .list-group-item, .panel>.panel-collapse>.list-group .list-group-item {
  border-radius: 0;
  padding: 3px 0px;
  font-size: 15px;
}

.entry-info .panel>.list-group:last-child .list-group-item:last-child, .panel>.panel-collapse>.list-group:last-child .list-group-item:last-child {
  border-bottom: 1px solid #eee;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.list-group-item {
  border: 1px solid #eee;
}

.panel.panel-nested {
  margin-bottom: 0px;
  margin-top: 3px;
}

.panel.panel-nested .panel-heading {
  padding-top: 0px;
  font-weight: 400;
  font-size: 15px;
}

.entry-info .panel-nested>.list-group .list-group-item,
.entry-info .panel-nested>.panel-collapse>.list-group .list-group-item {
    border-radius: 0;
    font-size: 14px;
}

.entry-info .panel-nested>.list-group:last-child .list-group-item:last-child,
.entry-info .panel-nested>.panel-collapse>.list-group:last-child .list-group-item:last-child {
    border-bottom: none;
}

/* List group */

.list-group-item-text {
  line-height: 1.6;
  font-size: 13px;
  font-family: "freight-text-pro", "Georgia", serif;
}

.list-group-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.list-group-item:last-child {
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

/* Table */

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 3px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #eee;
}

.table>tbody>tr>td.bordered {
  padding-left: 10px;
}

.table>thead>tr>th {
  border-bottom: 1px solid #ddd;
}

.reload-table>tbody>tr>td,
.reload-table>tbody>tr>th,
.reload-table>tfoot>tr>td,
.reload-table>tfoot>tr>th,
.reload-table>thead>tr>td,
.reload-table>thead>tr>th {
  padding: 8px;
  border-top: none;
}


.reload-table>thead>tr>th {
  border-bottom: none;
  padding-bottom: 20px;
}

.mini-table {
  clear: both;
  max-height: 230px;
  overflow-y: scroll;
}

.mini-table .table {
  font-size: 12px;
  margin-bottom: 5px;
}

.mini-table .checkbox,
.mini-table label {
  margin: 0px;
}

.mini-table label {
  display: block;
  font-size: 11px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  min-height: 0px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.mini-table label:hover {
  background: #f5f5f5;
}

.mini-table .table>tbody>tr>td {
  padding : 0px;
  border-bottom: 1px solid #f5f5f5;
  border-top: none;
}

.mini-table tr.closed {
  opacity: .3;
}

.mini-table .table>tbody>tr.closed>td {
  padding : 1px 0px;
}

.mini-table tr.closed td * {
  /*display: none;*/
}

/* Alert */

.alert {
  padding: 6px 12px;
  margin-bottom: 0px;
  border-radius: 2px;
}

/* Tooltip */

.tooltip {
  font-size: 11px;
  opacity: .97;
}

.tooltip-inner {
  padding: 8px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/* Popover */

.popover {
  font-family: "freight-text-pro";
  font-size: 14px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.popover-inner {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.checkbox, .radio {
  margin-top: 5px;
  margin-bottom: 5px;
}

.clear-input {
  position: relative;
}

.clear-input input {
  padding-right: 30px;
}

.clear-input-icon {
  position: absolute;
  right: 10px;
  top: 9px;
  opacity: .5;
  cursor: pointer;
}

.clear-input-icon:hover {
  opacity: .8;
}

.facet {
  border: 1px solid #eee;
  padding: 6px;
  border-radius: 2px;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
}

.pill {
    display: inline-block;
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    font-size: 12px;
}

.pill-dimension {
    display: inline-block;
    padding: 7px 10px;
    background-color: #f5f5f5;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.pill-value {
    display: inline-block;
    padding: 6px 10px;
}

.dropdown-menu {
  font-size: 13px;
  border-radius: 2px;
  max-height: 300px;
  overflow-y: scroll;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  color: #222;
  text-decoration: none;
  background-color: #eee;
  outline: 0;
}

#mytooltip{border:1px solid #e0e0e0;padding:5px 4px;background-color:"#3d424f";color:#fff;position:absolute;font-family:"Arial";font-size:10px;max-width:175px}.elastic-list{margin-top:25px;padding:2px;background:#f0;font-family:"Arial";font-size:12px;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}.elastic-list-dimension-header{font-size:12px;font-weight:bold;float:left;border:1px solid #fff;color:#f0f0f0;background-color:#333;padding:4px 0 0 5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.elastic-list-dimension{float:left;border:none;overflow-y:auto;overflow-x:hidden;color:#444}.elastic-list-dimension-item{position:relative;border:1px solid #fff;background-color:#a5a5a5;font-size:11px;font-family:"Arial"}.elastic-list-dimension-item p{margin:4px 0 0 5px;float:left;display:inline}.elastic-list-dimension-item p.key{width:70%}.elastic-list-dimension-item p.value{float:right;margin-right:22px}.elastic-list-dimension-item-hover{background-color:#d3d3d3}.elastic-list-dimension-item-hover p{font-weight:bold}#filtering{border-top:1px dotted #000;font-size:12px;font-weight:bold;margin-right:25px;height:50px}#filtering .elastic-list-filters{padding-top:5px;font-weight:bold;margin:0;height:25px;color:#222}#filtering .elastic-list-filters p{margin:0}#filtering .elastic-list-filters span{color:#0cf}.filter{background-color:#0cf}.filter-item{float:left}.results-title{font-family:"Arial";font-weight:bold;margin:0;font-size:12px}#results{font-family:"Arial";font-size:11px;height:200px;overflow-y:auto;border-top:1px solid #909090;background-color:#f0f0f0;padding:0 5px}#results p{border-bottom:1px solid #fff}.price-motivation{font-style:italic;color:#808080}.post-info-social ul{list-style:none;margin:0;padding:0}.post-info-social span.links{margin-right:30px}.post-info-social li{float:left;width:16px;height:36px;padding-left:3px}.post-info-social a{color:#000;text-decoration:none;outline-style:none;font-weight:bold}.post-info-social img{float:left;margin:10px 24px 20px 0}.github{margin-right:35px}

.date-query-type {
  font-weight: 400;
  text-decoration: underline;
  font-size: 12px;
  margin-left: 5px;
  color: gray;
  cursor: pointer;
}

.date-query-type.label {
  text-decoration: none;
  cursor: default;
}

.date-query-type.label.explore {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  cursor: default;
}

.date-query-type.selected {
  text-decoration: none;
  font-weight: 800;
  cursor: default;
}

.entry-travel:hover {
  background-color: #DEF;
}

.list-option {
  margin-left: 10px;
}

.list-delete {
  float: right;
}

.add-to-list-btn {
  float: right;
  position: relative;
  bottom: 15px;
}

.add-to-list-btn .input-group {
  width: 225px;
  margin: 10px;
}

.add-to-list-label {
  float: right;
  position: relative;
  bottom: 12px;
  margin-right: 10px;
}

.add-to-list-btn .caret {
  margin-left: 5px;
}

.topfix:first-child .row {
  position: relative;
  top: -10px;
}
