doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    base(href="/")
    title(ng-bind="getTitle()")
      
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i|Source+Serif+Pro:400,600,700&display=swap")

    meta(name='description' content='Ceserani, Giovanna. A World Made by Travel: The Digital Grand Tour. Redwood City: Stanford University Press, 2024. http://doi.org/10.21627/2024wmt.')
    meta(name='citation_title' content='A World Made by Travel: The Digital Grand Tour')
    meta(name='citation_isbn' content='9781503629165 ')
    meta(name='citation_author' content='Ceserani, Giovanna')
    meta(name='citation_publication_date' content='2024')
    meta(name='citation_language' content='en')
    meta(name='citation_publisher' content='Stanford University Press')
    meta(name='citation_DOI' content='10.21627/2024wmt')
    meta(name='citation_OCLC' content='1412258452')
    meta(name='twitter:card' content='summary')
    meta(name='twitter:title' content='In the eighteenth century, tens of thousands of travelers journeyed to Italy on voyages known then and since as the Grand Tour. These travels in the age of Enlightenment contributed to a massive reimagining of politics and the arts, of the market for culture, and of ideas about education and leisure. A World Made by Travel combines —in dynamic format— original research with data and visualizations about the lives and journeys of 6,007 travelers. It reveals the diverse experiences, elite and otherwise, that collectively constituted the eighteenth-century Grand Tour.')
    meta(name='twitter:image' content='https://aworldmadebytravel.org/assets/img/jpg/wmt_thumb_600.jpg')
    meta(property='og:title' content='A World Made by Travel: The Digital Grand Tour')
    meta(property='og:type' content='website')
    meta(property='og:url' content='https://aworldmadebytravel.org.org')
    meta(property='og:description' content='In the eighteenth century, tens of thousands of travelers journeyed to Italy on voyages known then and since as the Grand Tour. These travels in the age of Enlightenment contributed to a massive reimagining of politics and the arts, of the market for culture, and of ideas about education and leisure. A World Made by Travel combines —in dynamic format— original research with data and visualizations about the lives and journeys of 6,007 travelers. It reveals the diverse experiences, elite and otherwise, that collectively constituted the eighteenth-century Grand Tour.')
    meta(property='og:image' content='https://aworldmadebytravel.org/assets/img/jpg/wmt_thumb_600.jpg')

  body

  header.site-header
    div.icon
      a(href="https://ceserani.github.io/gt-book/home")
        img(src='six-boxes.png')
    div
      a.site-title(href='https://ceserani.github.io/gt-book/') A World Made by Travel
      span.site-author Giovanna Ceserani
    nav
      a(href='https://ceserani.github.io/gt-book/home') Table of Contents
      a(href="#/").selected The Grand Tour Explorer
    
  div.main.site
    div.page-content
      div.wrapper
        label.sidebarIconToggle.sidebarIconToggleRight(for='openSidebarMenu')
          img(src='sidebar-right.png')
        .site-nav
          .session.toc(style='display: flex; justify-content: space-between; padding: 10px;')
            a(href='https://ceserani.github.io/gt-book/home')
              b Table of Contents
            input#openSidebarMenu.openSidebarMenu(type='checkbox')
            label.sidebarIconToggle.sidebarIconToggleLeft(for='openSidebarMenu')
              img(src='sidebar-left.png')
          .session.active.hide
            // Preface and Acknowledgements, Epilogue
            a.session-title(href='https://ceserani.github.io/gt-book/') Home
            // 
          .session
            // Preface and Acknowledgements, Epilogue
            a.session-title(href='https://ceserani.github.io/gt-book/entering-a-world-made-by-travel') I.&#x9;Entering a World Made by Travel: Introducing the Explorer
            // 
          .session.gte.active
            // Preface and Acknowledgements, Epilogue
            a.session-title(href='') II.&#x9;The Grand Tour Explorer: Travelers&rsquo; Lives and Journeys
            #4.chapters
              .chapter(ui-sref-active="active")
                a(ui-sref="explore") Explore
              .chapter(ui-sref-active="active")
                a(ui-sref="search") Search 
              .chapter(ui-sref-active="active")
                a(ui-sref="chart") Chart
              .chapter(ui-sref-active="active")
                a(ui-sref="map") Map
              .chapter(ui-sref-active="active")
                a(href="https://ceserani.github.io/gt-book/the-grand-tour-explorer/glossary") Glossary
              .chapter(ui-sref-active="active")
                a(download,href="https://ceserani.github.io/gt-book/the-grand-tour-explorer/data") Data
          .session
            a.session-title(href='https://ceserani.github.io/gt-book/scholars-essays/ceserani-introduction') III. Seven Scholars&rsquo; Essays: Using the Explorer

            // 
          .session
            // Preface and Acknowledgements, Epilogue
            a.session-title(href='https://ceserani.github.io/gt-book/presenting-the-data') IV. Presenting the Data: Categories and Schemas
            // 
          .session
            // Preface and Acknowledgements, Epilogue
            a.session-title(href='https://ceserani.github.io/gt-book/archive-to-explorer') V.&#x9;Archive to Explorer: A Project History
            // 
          .session
            a.session-title(href='https://ceserani.github.io/gt-book/in-the-classroom/introduction') VI.&#x9;The Explorer in the Classroom: a Teaching Companion

          .session
            // Preface and Acknowledgements, Epilogue
            a.session-title(href='https://ceserani.github.io/gt-book/bibliography') Bibliography
            // 
          .session
            // Preface and Acknowledgements, Epilogue
            a.session-title(href='https://ceserani.github.io/gt-book/acknowledgements-and-credits') Acknowledgements and Credits
            // 
        article.post.container-fluid
          nav.navbar.navbar-default(ng-show="currentUser && currentUser.role!='viewer'")
            .container
              .navbar-header
                //- a.navbar-brand(href="#/") The Grand Tour Explorer
              .navbar-collapse
                                    
                ul.nav.navbar-nav(ng-show="currentUser")
                  
                  li(ng-show="currentUser.role=='admin'")
                    a(ui-sref="admin") Manage
                  li
                    a(href="https://forms.gle/iywimg8HHe4hH1xS8" target="_blank") Report an issue
                  //- li(ng-if="currentUser")
                  //-     a(ui-sref="lists") Saved Lists
                  li.index-dropdown-wrapper
                    a Downloads
                    div.index-dropdown-content
                      a(href="GTE Bibliography.txt" download) Bibliography
                      a(href="GTE Coordinates.txt" download) Coordinates
                  li
                    a {{currentUser.fullName || currentUser.username}}
                  a.btn.btn-default.btn-sm.navbar-btn.navbar-right(type="button", ng-click="logout()")
                    //i.fa.fa-sign-out.margin-right
                    | Logout

                ul.nav.navbar-nav.navbar-right(ng-show="!currentUser")
                  li
                    a(href="https://forms.gle/iywimg8HHe4hH1xS8" target="_blank") Report an issue
                  //- li
                  //-   a(ui-sref="login" target="_blank") Saved Lists
                  li
                    a(ui-sref="login" target="_blank") Downloads
                  li
                    a(ui-sref="login") Login            
          div.site-content
            ui-view

  footer.site-footer
    div
      | &copy; 2024 Stanford University | 
      a(href="https://aworldmadebytravel.org/tou/index.html") Terms of Use.
      br
    div
      | ISBN 
      b 9781503629165
      |  | OCLC 
      b
        a(href="https://www.worldcat.org/oclc/1412258452") 1412258452
      |  | DOI 
      b 10.21627/2024wmt
    div
      | Published by 
      a(href="https://sup.org") STANFORD UNIVERSITY PRESS
      img(src='logo-stanford-1.png')
