doctype html
html(lang="en", ng-app="app")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    base(href="/")
    title Grand Tour Explorer
      
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Cousine:400,700")  
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u", crossorigin="anonymous")
    link(rel='stylesheet', href='/app.css')

  body
    
    
    
    nav.navbar.navbar-default
      .container
        .navbar-header
          a.navbar-brand(href="#/") The Grand Tour Explorer
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(ui-sref="about") About
            li
              a(ui-sref="search") Search
            li
              a(ui-sref="explore") Explore 
                sup (beta)
            li
              a(ui-sref="lists") Saved Lists 
                sup (beta)
                              
          ul.nav.navbar-nav.navbar-right(ng-show="currentUser")
            li(ng-show="currentUser.role=='admin'")
              a(ui-sref="admin") Manage
            li
              a {{currentUser.fullName || currentUser.username}}
            a.btn.btn-default.btn-sm.navbar-btn.navbar-right(type="button", ng-click="logout()")
              //i.fa.fa-sign-out.margin-right
              | Logout

          ul.nav.navbar-nav.navbar-right(ng-show="!currentUser")
            li
              a(ui-sref="login") Login            
    ui-view
        
    script(src="//use.typekit.net/jjn0vnk.js")
    script.
      try{Typekit.load();}catch(e){}
    
    script(src="https://cdn.socket.io/socket.io-1.3.5.js")
      
    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
    script(src="bower_components/d3/d3.min.js")
    script(src="bower_components/crossfilter/crossfilter.min.js")
    script(src="bower_components/FileSaver/FileSaver.min.js")
    script(src="bower_components/jszip/dist/jszip.min.js")

    script(src="bower_components/angular/angular.min.js")
    script(src="bower_components/angular-sanitize/angular-sanitize.min.js")
    script(src="bower_components/angular-animate/angular-animate.min.js")
    script(src="bower_components/angular-ui-router/release/angular-ui-router.min.js")

    script(src="bower_components/angular-bootstrap/ui-bootstrap.min.js")
    script(src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")

    script(type='text/javascript', src='/app.js')
    script(type='text/javascript', src='/main/main.js')
    script(type='text/javascript', src='/about/about.js')
    script(type='text/javascript', src='/admin/admin.js')
    script(type='text/javascript', src='/login/login.js')
    script(type='text/javascript', src='/register/register.js')
    script(type='text/javascript', src='/search/search.js')
    script(type='text/javascript', src='/explore/explore.js')
    script(type='text/javascript', src='/entry/entry.js')
    script(type='text/javascript', src='/lists/lists.js')

    script(type='text/javascript', src='/components/facet/facet.js')
    script(type='text/javascript', src='/components/entry-list/entry-list.js')
