.container.main-view

  .row
    .col-lg-12
      revision-status
  br

  .row
  
    .col-lg-12
    
      .row
        .col-lg-2
          label Dimensions
          ul.list-unstyled
            li.border-top(ng-repeat="dimension in dimensions")
              span.small.text-light.pull-right.explore-count(title="{{ counts[dimension.field] }} entries have a value for this dimension.") {{ counts[dimension.field] }}
              .checkbox
                label
                  input(type="checkbox", ng-model="dimension.active")
                  div(ng-class="{ 'text-strong' : query.hasOwnProperty(dimension.field) }") {{dimension.label}}
                  span.small(ng-show="dimension.subgroup") {{dimension.subgroup}}
        
        .col-lg-10
          .clearfix.margin-bottom
            a.btn-xs.btn.btn-danger.pull-right(ng-click="clear()") Clear all
            a.btn-xs.btn.btn-success.pull-right(ng-click="duplicate()", style="margin-right: 10px") Duplicate
      
          form
            .row
              .col-lg-3(ng-repeat='dimension in activeDimensions')
                div(ng-switch="dimension.type")
                  div(ng-switch-when="facet", facet="", label="{{dimension.label}}", subgroup="{{dimension.subgroup}}", data-model="dimension.antani", field="{{dimension.field}}", suggestions='{{dimension.suggestions}}', data-query='query')
                  div(ng-switch-when="number")
                    .form-group    
                      label {{dimension.label}} 
                        span.text-muted(ng-show="dimension.subgroup") {{dimension.subgroup}} 
                      input.input-sm.form-control(type="text", ng-model="query[dimension.field]", ng-model-options="{debounce:1000}")
                  div(ng-switch-when="text")
                    .form-group    
                      label {{dimension.label}} 
                        span.text-muted(ng-show="dimension.subgroup") {{dimension.subgroup}} 
                      input.input-sm.form-control(type="text", ng-model="query[dimension.field]", ng-model-options="{debounce:1000}")
                  div(ng-switch-when="freesearch")
                    free-search
                  
                  div(ng-switch-when="date")
                    date-search(data-title="{{dimension.label}}", data-field="{{dimension.field}}")
        
    .col-lg-12 
    
      strong Your filters
      pills(allow-remove="true")      
      
      div.text-muted(ng-show="!entries.length && untouched && !searching") Use the fields on the left and press Enter or click the Search button to start searching

      div(ng-show="!noResults && entries.length && !searching")
        
        hr
      
        div.clearfix
          p.pull-left.text-large
            strong {{entries.length}} 
            | matching results

        entry-list(entries="entries", export="export()")
        
      div(ng-show="noResults && !searching")
        p No results
      
      div.alert.alert-warning(ng-show="searching")
        p 
          i.fa.fa-refresh.fa-spin.margin-right
          | Searching...
