.container.main-view

  .div(ng-show="noEntry")
    p No entry with that index found!

  .div(ng-show="entry")
    
    h1 {{entry.fullName}}
      a.pull-right(ng-href="#/entries/{{nextIndex}}")
        i.fa.fa-angle-right.margin-left
      a.pull-right(ng-href="#/entries/{{previousIndex}}")
        i.fa.fa-angle-left 

    .row
      div.col-lg-3.entry-info
        .row
          
          .col-lg-12.col-md-4.col-sm-6(ng-show="entry.alternateNames.length") 
            .panel.panel-default
              .panel-heading Alternate Names
              ul.list-group
                li.list-group-item(ng-repeat="e in entry.alternateNames")
                  span {{e.alternateName}}

          .col-lg-12.col-md-4.col-sm-6(ng-show="entry.dates[0].birthDate || entry.places[0].birthPlace")
            .panel.panel-default
              .panel-heading Born
              ul.list-group
                li.list-group-item
                  span(ng-show="entry.dates[0].birthDate")
                    a(ng-click="search({birthDate:entry.dates[0].birthDate})") {{entry.dates[0].birthDate}}
                  span(ng-show="entry.dates[0].birthDate && entry.places[0].birthPlace") , 
                  span(ng-show="entry.places[0].birthPlace") 
                    a(ng-click="search({birthPlace:entry.places[0].birthPlace})") {{entry.places[0].birthPlace}}

          .col-lg-12.col-md-4.col-sm-6(ng-show="entry.dates[0].deathDate || entry.places[0].deathPlace")
            .panel.panel-default
              .panel-heading Died
              ul.list-group
                li.list-group-item
                  span(ng-show="entry.dates[0].deathDate")
                    a(ng-click="search({deathDate:entry.dates[0].deathDate})") {{entry.dates[0].deathDate}}
                  span(ng-show="entry.dates[0].deathDate && entry.places[0].deathPlace") , 
                  span(ng-show="entry.places[0].deathPlace")
                    a(ng-click="search({deathPlace:entry.places[0].deathPlace})") {{entry.places[0].deathPlace}}


          .col-lg-12.col-md-4.col-sm-6(ng-show="entry.dates[0].flourishedStartDate || entry.dates[0].flourishedEndDate")
            .panel.panel-default
              .panel-heading Flourished
              ul.list-group
                li.list-group-item
                  span(ng-show="entry.dates[0].flourishedStartDate") {{entry.dates[0].flourishedStartDate}}
                  span(ng-show="entry.dates[0].flourishedEndDate") -{{entry.dates[0].flourishedEndDate}}

                    
          .col-lg-12.col-md-4.col-sm-6(ng-show="entry.parents")
            .panel.panel-default
              .panel-heading Parents
              ul.list-group
                li.list-group-item {{entry.parents}}
          
          
          .col-lg-12.col-md-4.col-sm-6(ng-show="entry.marriages.length")
            .panel.panel-default
              .panel-heading Marriages
              ul.list-group
                li.list-group-item(ng-repeat="e in entry.marriages | orderBy : 'sequence'")
                  span {{e.spouse}} 
                  span(ng-show="e.year") ({{e.year}})

          .col-lg-12.col-md-4.col-sm-6(ng-show="entry.mistress.length")
            .panel.panel-default
              .panel-heading Mistress of
              ul.list-group
                li.list-group-item(ng-repeat="e in entry.mistress")
                  span {{e.of}} 
                  span(ng-show="e.from") ({{e.from}}-{{e.to}})
          
          .col-lg-12.col-md-4.col-sm-6(ng-show="entry.pursuits.length") 
            .panel.panel-default
              .panel-heading Employments and Identifiers
              ul.list-group
                li.list-group-item(ng-repeat="e in entry.pursuits") 
                  a(ng-click="search({pursuits:e.pursuit})") {{e.pursuit}}
                
          .col-lg-12.col-md-4.col-sm-6(ng-show="entry.occupations.length") 
            .panel.panel-default
              .panel-heading Occupations & Posts
              ul.list-group
                li.list-group-item(ng-repeat="o in occupations")
                  .panel.panel-default.panel-nested
                    .panel-heading
                      span(ng-click="search({occupations_group:o.key})") {{o.key}}
                    ul.list-group
                      li.list-group-item(ng-repeat="e in o.values")
                        a(ng-click="search({occupations:e.title})") {{e.title}}
                        span(ng-show="e.place") , 
                        a(ng-show="e.place", ng-click="search({occupations_place:e.place})") {{e.place}}
                        span(ng-show="e.from || e.to")  (
                        span(ng-show="e.from") {{e.from}}
                        span(ng-show="e.to") -{{e.to}}
                        span(ng-show="e.from || e.to") )

          .col-lg-12.col-md-4.col-sm-6(ng-show="military.length") 
            .panel.panel-default
              .panel-heading Military careers
              ul.list-group
                li.list-group-item(ng-repeat="e in military") 
                  a(ng-click="search({military:e.rank})") {{e.rank}}
                  span(ng-show="e.rankStart || e.rankEnd")  (
                  span(ng-show="e.rankStart") {{e.rankStart}}
                  span(ng-show="e.rankEnd") -{{e.rankEnd}}
                  span(ng-show="e.rankStart || e.rankEnd") )
                                            
          .col-lg-12.col-md-4.col-sm-6(ng-show="entry.education.length") 
            .panel.panel-default
              .panel-heading Education
              ul.list-group
                li.list-group-item(ng-repeat="e in entry.education")
                  a(ng-show="e.degree", ng-click="search({education_degree:e.fullDegree})") {{e.fullDegree}}
                  span(ng-show="e.degree && e.institution") , 
                  a(ng-show="e.institution", ng-click="search({education_institution:e.institution})") {{e.institution}}
                  span(ng-show="(e.degree || e.institution) && e.place") , 
                  a(ng-show="e.place" ng-click="search({education_place:e.place})") {{e.place}}
                  span(ng-show="(e.degree || e.institution || e.place) && e.teacher") , 
                  a(ng-show="e.teacher" ng-click="search({education_teacher:e.teacher})") under {{e.teacher}} 
                  span(ng-show="e.from")  ({{e.from}}
                  span(ng-show="e.to") -{{e.to}}
                  span(ng-show="e.from || e.to") )
                  span(ng-show="e.degreeDate")  ({{e.degreeDate}})

          .col-lg-12.col-md-4.col-sm-6(ng-show="entry.societies.length") 
            .panel.panel-default
              .panel-heading Societies & Academies
              ul.list-group
                li.list-group-item(ng-repeat="e in entry.societies") 
                  a(ng-click="search({societies:e.title})") {{e.title}}
                  span , {{e.role}} 
                  span(ng-show="e.from || e.to") (
                  span(ng-show="e.from") {{e.from}}
                  span(ng-show="e.to") -{{e.to}}
                  span(ng-show="e.from || e.to") )

          .col-lg-12.col-md-4.col-sm-6(ng-show="entry.exhibitions.length") 
            .panel.panel-default
              .panel-heading Exhibitions & Awards
              ul.list-group
                li.list-group-item(ng-repeat="e in entry.exhibitions") 
                  a(ng-click="search({exhibitions:e.title})") {{e.title}}
                  span(ng-show="e.title && e.activity") , 
                  a(ng-click="search({exhibitions_activity:e.activity})") {{e.activity}}
                  span(ng-show="e.from || e.to")  (
                  span(ng-show="e.from") {{e.from}}
                  span(ng-show="e.to") -{{e.to}}
                  span(ng-show="e.from || e.to") )
          .col-lg-12.col-md-4.col-sm-6
            div.btn-group.add-to-list-btn.pull-left
              button.btn.btn-default.btn-xs.dropdown-toggle(type="button", data-toggle="dropdown")
                span Add to List
                span.caret
              ul.dropdown-menu
                li(ng-show="sharedListModel.listsLoading")
                  span Loading lists...
                li(ng-repeat="list in sharedListModel.myLists")
                  a(ng-click="addSelectedEntriesToList(list)") {{ list.name }}
                li.divider(role="separator")
                li.dropdown-header or add to a new list:
                li
                  form.input-group.input-group-sm
                    input.form-control(type="text", placeholder="new list name", ng-model="viewModel.newListName")
                    span.input-group-btn
                      button.btn.btn-default(type="submit", ng-disabled="!viewModel.newListName", ng-click="addSelectedEntriesToNewList()") Create & Add
          .col-lg-12.col-md-4.col-sm-6
            br
            .label.label-success(ng-show="entry.addedToList") Added to list
            .label.label-info(ng-show="entry.alreadyInList") Already in list



        
      div.col-lg-6
        p.text-serif.check-html(ng-bind-html="superscript(entry.biography, entry.notes)")
        p.text-serif.check-html(ng-repeat="tour in entry.tours")
          span.check-html(ng-bind-html="superscript(tour.text, tour.notes)")
          span.small
            br
            | {{tour.notes}}
        p.text-serif.check-html(ng-bind-html="superscript(entry.narrative, entry.notes)")
        p.text-serif.small {{entry.notes}}
        

      div.col-lg-3(ng-show="entry.travels && entry.travels.length")
        button.btn.btn-default.btn-xs.btn-block(type="button", ng-click="reanimate(entry.travels)") Reanimate
        br
        #minimap
        div.entry-info
          .row
            .col-lg-12(ng-show="tours.length")
              
              .panel.panel-default(ng-repeat="tour in tours")
                .panel-heading
                  span Tour {{tour.key}} 
                  span.pull-right {{tour.start}}/{{tour.end}}
                table.table
                  thead
                    tr
                      th Place
                      //th.text-right after
                      th.text-right from
                      th.text-right to
                      //th.text-right before
                  tbody
                    tr(class="entry-travel" ng-repeat="travel in tour.values" ng-click="searchTravel(travel)" style="cursor: pointer;", ng-mouseenter="miniMapShared.travelHovered(travel)" ng-mouseleave="miniMapShared.travelUnhovered(travel)" ng-class="{'minimap-hovered': travel.hovered}")
                      td(ng-class="{'bordered':travel.parent}")
                        span {{travel.place}}
                      //td.text-right.tnum-lnum {{travel.gte}}
                      td.text-right.tnum-lnum
                        span(ng-show="travel.travelStartYear == '0' || travel.estimatedTravelDates") -
                        span(ng-show="travel.travelStartYear != '0' && !travel.estimatedTravelDates") {{travel.travelStartYear}}
                        span(ng-show="travel.travelStartMonth != '0' && !travel.estimatedTravelDates") /{{travel.travelStartMonth}}
                        span(ng-show="travel.travelStartDay != '0' && !travel.estimatedTravelDates") /{{travel.travelStartDay}}
                      td.text-right.tnum-lnum
                        span(ng-show="travel.travelEndYear == '0' ||  travel.estimatedTravelDates") -
                        span(ng-show="travel.travelEndYear != '0' && !travel.estimatedTravelDates") {{travel.travelEndYear}}
                        span(ng-show="travel.travelEndMonth != '0' && !travel.estimatedTravelDates") /{{travel.travelEndMonth}}
                        span(ng-show="travel.travelEndDay != '0' && !travel.estimatedTravelDates") /{{travel.travelEndDay}}
                      //td.text-right.tnum-lnum {{travel.lte}}
              
    
