<header class="site-cover">

  <div class="wrapper">

    <div class="" style="display: flex; padding-bottom: 60px;">
      <div class="" style="max-width: 500px; padding-top: 0px">
        <span class="site-description" style="margin-left: 20px;">The Digital Grand Tour</span>
        <h2 class="cover-title">{{ site.title }} 
          <span>
            <i onclick="homeCite('cover')" onmouseover="onHover()" onmouseout="offHover()" class="material-icons link-cite hide home-icons" aria-label="Cite the book" data-balloon-pos="left">format_quote</i>
            <i onclick="homeLink('cover')" onmouseover="onHover()" onmouseout="offHover()" class="material-icons hide home-icons" aria-label="Copy link to book" data-balloon-pos="left">link</i>
          </span> 
      </h2>
        <span class="cover-author" style="margin-left: 80px;">Giovanna Ceserani</span>
      </div>
      <div class="cover-intro">
        <p>
          In the eighteenth century, tens of thousands of travelers journeyed to Italy on the Grand Tour—a voyage of cultural and symbolic capital. These travels were a formative institution of modernity, contributing to a massive reimagining of politics and the arts, of the market for culture, of ideas about leisure, and of professional practices. A World Made by Travel dynamically synthesizes a reference work about 6,007 travelers with original research in an interactive online format.          
        </p>
        <p>
          Through the datafication of A Dictionary of British and Irish Travelers in Italy 1701-1800 (compiled by John Ingamells from the Brinsley Ford Archive), A World Made by Travel introduces more than a thousand new entries, bringing to the story hundreds of women, servants, workers, and Italians not previously represented among the Dictionary’s primary headings. This digital Grand Tour is a more representative Grand Tour, inviting vital questions about a historical phenomenon whose study has tended to focus on the most elite and well-known of travelers.
        </p>
        <p>
          Through its Explorer, an interactive database with raw downloadable data, visualizations, and documentation; chapters on the project’s history, rationale, and meaning; a collection of original essays produced by scholars working with the Grand Tour Explorer; and resources to bring this material to the classroom, A World Made by Travel shows the historical and continuing significance of eighteenth-century travel to Italy in a new light and with unprecedented granularity. And it showcases the possibilities of digital history approaches for producing original research that is equally accessible to researchers, students, and the general public.
        </p>
        <p>
          <a href="{{ site.baseurl }}/home">
            <div class="button">
              Enter
            </div>
          </a>
        </p>
      </div>
    </div>
  </div>

  <div class="cover-credits">Thomas Jones, <i>Lake Albano,</i> 1777. Yale Center for British Art, Paul Mellon Collection</div>

</header>

<script>

var timer;
var homeIcons = document.getElementsByClassName("home-icons");

var iconsAreHovered = false;

/* Icons to cite and link appear when mouse moves over window. While icons are hovered over, neither will disappear. */

function showIcons() {
  for (let i = 0; i < homeIcons.length; i++) {
    homeIcons[i].classList.remove("hide");
    homeIcons[i].classList.add("show");
  }

  clearTimeout(timer); 
  timer=setTimeout(hideIcons,1000); // when mouse has stopped, hide icons
}

function hideIcons() {
  if (!iconsAreHovered) {
    for (let i = 0; i < homeIcons.length; i++) {
      homeIcons[i].classList.remove("show");
      homeIcons[i].classList.add("hide");
    }
  }
}

function onHover() {
  iconsAreHovered = true;
  showIcons();
}

function offHover() {
  iconsAreHovered = false;
  clearTimeout(timer); 
  timer=setTimeout(hideIcons,1000);
}

window.addEventListener("mousemove", showIcons);
</script>