<script>
  // window.addEventListener("scroll",myFunction) //= function() {()};

  // var header = document.getElementById("postHeader");
  // var stickyHeader = document.getElementById("stickyHeader");
  // var sticky;
  // if (header) {
  //   sticky = header.offsetTop + header.offsetHeight - 40;
  // }

  // function myFunction() {
  //   if (stickyHeader) {
  //     if (window.pageYOffset > sticky) {
  //       stickyHeader.classList.add("visible");
  //     } else {
  //       stickyHeader.classList.remove("visible");
  //     }
  //   }
  // }
</script>
