<header class="site-header">

  <div class="icon">
    <a href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/images/six-boxes.png" />
    </a>
  </div>

  <div>
    <a class="site-title" href="https://aworldmadebytravel.org/">A World Made by Travel</a>
    <span class="site-author">Giovanna Ceserani</span>
  </div>

  <nav>
    <a href="{{site.gteurl}}">The Grand Tour Explorer</a>
  </nav>

</header>

<div id="mobile-screen">
  <div>
    <h3>Welcome to</h3>

    <h2>Giovanna Ceserani</h2>

    <h1>A World Made by Travel</h1>

    <h4>The Digital Grand Tour</h4>

    <p>To browse this project, you need a device with a bigger viewport. Please return to this page when you have access to a laptop or desktop computer, or try to resize your browser window.</p>

    <a href="https://aworldmadebytravel.org">Go back to SUP</a>
  </div>
</div>