<div class="visual-toc">
	<div class="grid-container">
		<div class="grid">
			<div style="grid-area: entering; background-image: url({{ site.baseurl }}/assets/visual-toc/cavern.jpg)">
				<a class="item" href="{{ site.baseurl }}/entering-a-world-made-by-travel">
					<h3>Entering a World Made by Travel</h3>
					<h6>Introducing the Explorer</h6>
				</a>
			</div>
			<div style="grid-area: gte; background: #b52f2f">
				<a class="item gte-box" href="{{ site.gteurl }}" style="background: #b52f2f;">
					<div
            class="shadowed"
						style="
              background: linear-gradient(135deg, rgba(0, 0, 0, 0.6) -0.14%, rgba(0, 0, 0, 0) 76.89%), url({{ site.baseurl }}/assets/visual-toc/volcano.jpg);
              border-radius: 3px;
              padding: 10px;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;"
					>
						<h3>The Grand Tour Explorer</h3>
						<h6>Travelers’ Lives and Journeys</h6>
					</div>
					<a class="gte-box-text"
						href="{{ site.gteurl }}"
						>Interact with the data in the Grand Tour Explorer</a
					>
				</a>
			</div>
			<div style="grid-area: seven; background-image: url({{ site.baseurl }}/assets/visual-toc/naples.jpg)">
				<a class="item" href="{{ site.baseurl }}/scholars-essays/ceserani-introduction">
					<h3>Seven Scholars' Essays</h3>
					<h6>Using the Explorer</h6>
				</a>
			</div>
			<div
				style="grid-area: presenting; background-image: url({{ site.baseurl }}/assets/visual-toc/vatican.jpg)"
			>
				<a class="item" href="{{ site.baseurl }}/presenting-the-data">
					<h3>Presenting the Data</h3>
					<h6>Categories and Schemas</h6>
				</a>
			</div>
			<div style="grid-area: ar2ex; background-image: url({{ site.baseurl }}/assets/visual-toc/gotthardt.jpg);">
				<a class="item" href="{{ site.baseurl }}/archive-to-explorer">
					<h3>Archive to Explorer</h3>
					<h6>A Project History</h6>
				</a>
			</div>
			<div style="grid-area: classroom; background-image: url({{ site.baseurl }}/assets/visual-toc/lucerne.jpg); background-position: center 89%;">
				<a class="item" href="{{ site.baseurl }}/in-the-classroom/introduction">
					<h3>The Explorer in the Classroom</h3>
					<h6>A Teaching Companion</h6>
				</a>
			</div>
		</div>
	</div>
	<div id="ack-creds-home">
		<h4 id="ack-creds-home-text"><a href="{{ site.baseurl }}/acknowledgements-and-credits">Acknowledgements and Credits</a></h4>
	</div>
</div>

<!-- <div class="acknowledgments">
	<a href="{{ site.baseurl }}/acknowledgements-and-credits">Acknowledgements and Credits</a>
</div> -->
