.text-serif.body-text(ng-class="{ narrative: fieldKey === 'narrative', small: fieldKey === 'notes' }")
    em.rich-text-editable-placeholder(ng-show="isEmpty") ({{ fieldKey }} empty)
    .rich-text-editable(
        contenteditable="true",
        name="{{ fieldKey }}",
    )


//- textarea.focus.form-control.text-serif(
//-     ng-class="{ small: fieldKey === 'notes' }",
//-     rows="10",
//-     ng-show="isEditing()",
//-     ng-model="entry[fieldKey]",
//-     ng-change="edited(fieldKey, entry[fieldKey])",
//- )
