.edit-mentioned-name
    div(ng-repeat="(key, value) in entryFields[fieldKey].serialized.type" ng-hide="key === 'ranges'")
        strong.small {{ key }}: 
        span(ng-if="fieldValue[key] !== undefined") {{ fieldValue[key] }}
        entry-link(index="{{ fieldValue.entryIndex }}", ng-show="key === 'entryIndex'")
        a.small.italic.margin-left(
            ng-if="fieldValue[key] !== undefined",
            ng-click="clearObjectField(fieldKey, arrayIndex, key)",
        ) clear
        
        em(ng-if="fieldValue[key] === undefined") (empty)

