strong {{ fieldValue.place }}: 
span
    span from 
    strong(ng-show="!fieldValue.travelStartYear") -
    strong(ng-show="fieldValue.travelStartYear") {{fieldValue.travelStartYear}}
    strong(ng-show="fieldValue.travelStartMonth") /{{fieldValue.travelStartMonth}}
    strong(ng-show="fieldValue.travelStartDay") /{{fieldValue.travelStartDay}}
    span  

span
    span to 
    strong(ng-show="!fieldValue.travelEndYear") -
    strong(ng-show="fieldValue.travelEndYear") {{fieldValue.travelEndYear}}
    strong(ng-show="fieldValue.travelEndMonth") /{{fieldValue.travelEndMonth}}
    strong(ng-show="fieldValue.travelEndDay") /{{fieldValue.travelEndDay}}
    span  
