span(ng-show="fieldValue.birthPlace")
    strong Birth Place: 
    span {{ fieldValue.birthPlace }}

| , 
span(ng-show="fieldValue.deathPlace")
    strong Death Place: 
    span {{ fieldValue.deathPlace }}
