span(ng-show="fieldValue.birthDate")
    strong Birth Date: 
    span {{ fieldValue.birthDate }}

| , 
span(ng-show="fieldValue.deathDate")
    strong Death Date: 
    span {{ fieldValue.deathDate }}
