---
layout: default
---
<article class="post">

  <!-- Bookkeeping for links-script (does not display on document) -->
  <p id="bkAuthor" class="bk">{% if page.author %}{{ page.author }}{% endif %}</p>
  <p id="bkTitle" class="bk">{% if page.title %}{{ page.title }}{% endif %}</p>

  <header id="postHeader" class="post-header">
    <!-- <p class="post-meta">{{ site.data.sessions[page.session].name }}</p> -->
    {% if page.italics-title %}<h1 class="post-title">{{ page.italics-title }}</h1><!-- Paul Ciceroni edge case -->
    {% else %}<h1 class="post-title">{{ page.title }}</h1>{% endif %}
    <div class="" style="display: flex; justify-content: space-between">
      <div>
        {% if page.author %}<p id="{{page.author}}" class="post-author" onclick="about(this)">by {{ page.author }}</p> {% endif %}
        <p id="bioText" hidden>{{ page.about }}</p>
      </div>
      <div class="paragraph">
        <i class="material-icons link-cite" aria-label="Cite this article" data-balloon-pos="left">format_quote</i>
        <i class="material-icons link-copy" aria-label="Copy link to article" data-balloon-pos="left">link</i>
        <i class="material-icons" aria-label="Print article" data-balloon-pos="left" onclick="window.print()">print</i>
        {% if page.data %}<a href="{{page.data}}" target="_blank"><i class="material-icons" aria-label="Download data" data-balloon-pos="left">equalizer</i></a>{% endif %}
      </div>
    </div>

  </header>

  <div id="stickyHeader" class="post-sticky-header">
    <!--<a class="post-sticky-site" href="{{ site.baseurl }}/">{{ site.title }}</a>-->
    <div class="" style="display: flex; flex-direction: column">
      <a class="post-sticky-site" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <span class="post-sticky-meta">{{ site.data.sessions[page.session].name }} </span>
    </div>
    <div class="">
      <b class="post-sticky-title">{{ page.title }} </b>
      {% if page.author %}<span class="post-sticky-author">– {{ page.author }}</span>{% endif %}
    </div>
    <div class="">

    </div>
  </div>

  <div id="postContent" class="post-content">

    {% if page.abstract %}
    <div class="post-abstract">
      <h3>Abstract</h3>
      <p>{{ page.abstract }}</p>
    </div>
    <br>
    {% endif %}

    {{ content }}

    <div class="paragraph-links">
      {% if page.hideParagraphLinks %}
      {% elsif page.onlyLinkParagraphs %}
      <span class="post-meta paragraph-link">Par. X</span>
      <i class="material-icons link-copy" aria-label="Copy link to this paragraph" data-balloon-pos="left">link</i>
      {% else %}
      <span class="post-meta paragraph-link">Par. X</span>
      <i class="material-icons link-cite" aria-label="Cite this paragraph" data-balloon-pos="left">format_quote</i>
      <i class="material-icons link-copy" aria-label="Copy link to this paragraph" data-balloon-pos="left">link</i>
      {% endif %}
    </div>

    
    <!-- <div class="">
      {% if page.references %}
      <div class="post-references">
        <h3>References</h3>
        <p>{{ page.references }}</p>
      </div>{% endif %}
    </div> -->

    <div class="">
      {% if page.about %}
      <div class="post-about">
        <h3>About {{page.author}}</h3>
        <p><span> {{page.author}}</span> {{ page.about }}</p>
      </div>{% endif %}
    </div>


  </div>

  <div id="about" class="overlay">
    <div class="overlay-close">
      <a><i class="material-icons" onclick="hide()">close</i></a>
    </div>
    <b id="name" class="overlay-author"></b><span id="bio"> </span>
  </div>

  <!-- For HTML to Markdown conversion -->
  <script src="https://unpkg.com/turndown/dist/turndown.js"></script>

  <script>
  function about(author) {
    var about = document.getElementById("about");

    var name = document.getElementById("name");
    var bio = document.getElementById("bio");

    name.innerHTML = author.id;
    bio.innerHTML = " " + document.getElementById("bioText").innerHTML;
    about.classList.toggle("visible");
  }

  function hide() {
    var about = document.getElementById("about")
    about.classList.remove("visible");
  }

  function copyToClipboard() {
    var text = document.getElementById("overlay-text").innerHTML;

    /* Allows for rich text (italics) */
    function listener(e) {
      e.clipboardData.setData("text/html", text);
      e.clipboardData.setData("text/plain", text);
      e.preventDefault();
    }
    document.addEventListener("copy", listener);
    document.execCommand("copy");
    document.removeEventListener("copy", listener);

    window.alert("This citation has been copied to your clipboard!")
  }

  function txtDownload() {
    var element = document.createElement('a');
    var text = document.getElementById("overlay-text").innerText;

    var filename = getFilename();

    element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
    element.setAttribute('download', filename);

    element.style.display = 'none';
    document.body.appendChild(element);
    element.click();
    document.body.removeChild(element);
  }

  function HTMLDownload() {
    var filename = getFilename();

    let doc = createHTML(filename);

    var element = document.createElement('a');

    element.setAttribute('href', 'data:text/html;charset=utf-8,' + encodeURIComponent(doc.documentElement.outerHTML));
    element.setAttribute('download', filename);

    element.style.display = 'none';
    document.body.appendChild(element);
    element.click();
    document.body.removeChild(element);
  }

  function createHTML(filename) {
    let doc = document.implementation.createHTMLDocument(filename);
    let p = doc.createElement("p");
    p.innerHTML = document.getElementById("overlay-text").innerHTML;
    
    try {
      doc.body.appendChild(p);
    } catch(e) {
      console.log(e);
    }
    return doc
  }

  function mdDownload() {
    var filename = getFilename();

    const turndownService = new TurndownService();
    const markdown = turndownService.turndown(createHTML(filename));

    var element = document.createElement('a');

    var filename = getFilename();

    element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(markdown));
    element.setAttribute('download', filename);

    element.style.display = 'none';
    document.body.appendChild(element);
    element.click();
    document.body.removeChild(element);
  }

  function getFilename() {
    let authorNames = document.getElementById("bkAuthor").innerText.split(" ");
    var lastName;
    if (authorNames.length == 5) {
      lastName = "Baker and Brewer"; // hardcoded
    } else {
      lastName = authorNames[1];
    }

    var words = document.getElementById("overlay-text").innerHTML.split(" ");
    let i = words.indexOf("paragraph") + 1;

    if (!isNaN(words[i])) {
      return lastName + ", paragraph " + words[i][0] + " citation";
    }
    return lastName + " citation"; // whole article
  }
  
  </script>
</article>

<div class="overlay" id="popup" style="display:flex; flex-direction:column; overflow-y: auto; background: #f7f6f3">
  <div id="imgs" style="height:80%">
      <div class="overlay-close">
          <a><i class="material-icons">close</i></a>
      </div>
      <img id="img">
      <img id="img2">
  </div>
  <div id="capWrapper" style="display:flex; flex-direction:row;">
      <p id="cap" style=" position:relative; display:inline-block; margin: 30px 30px 30px"></p>
      <div style="display:flex; flex-direction:column; position:relative; top:20px">
              <i class="material-icons link-cite" aria-label="Cite this image" data-balloon-pos="left">format_quote</i>
              <i class="material-icons link-copy" aria-label="Copy link to this image" data-balloon-pos="left">link</i>
              <i class="material-icons link-download" aria-label="Download" data-balloon-pos="left">download</i>
      </div>
  </div>
</div>

<div id="citation-overlay" class="overlay">
  <h3>Citation</h3>
  <div class="overlay-close">
    <a><i class="material-icons">close</i></a>
  </div>
  <p id="overlay-text" class="overlay-text"></a></p>
  <p class="overlay-links">
    <a onclick="copyToClipboard()">Copy citation to clipboard</a> | Download citation as: <a onclick="txtDownload()">.txt</a> <a onclick="HTMLDownload()">.html</a> <a onclick="mdDownload()">.md</a>
  </p>
</div>

<script>
  /*
  * Paired images should have the same height, the smaller of the two.
  */
  function resize(obj, obj2){
      if (obj.height <= obj2.height) {
          obj2.height = obj.height;
      } else {
          obj.height = obj2.height;
      }
  }
  
  function zoom(obj, obj2, caption, download) {
      var popup = document.getElementById("popup");
      popup.style.maxHeight = "90%";
      popup.style.height = "90%"
      var image = document.getElementById("img");
      var image2 = document.getElementById("img2");
          
      image.src = obj.src;
      image.style.display = "block";
      image.style.marginLeft = "auto";
      image.style.marginRight = "auto";
      image.style.left = "0";
      image.style.right = "0";
      image.style.width = "100%";
      image.style.height = "100%";
      image.style.objectFit = "contain";
  
      image2.style.display = "none"; // hide in case Fig 1 or 2 were clicked
      document.getElementById("capWrapper").style.width = image.offsetWidth;
  
      if (obj2 != undefined && obj2 != null) { // Figure 1 & 2 are paired
          image.style.float = "left";
          image.style.width = "50%";
  
          image2.src = obj2.src;
          
          image2.style.display = "block";
          image2.style.marginLeft = "auto";
          image2.style.marginRight = "auto";
          image2.style.left = "0";
          image2.style.right = "0";
          image2.style.float = "left";
          image2.style.width = "50%";
          image2.style.height = "100%";
          image2.style.objectFit = "contain";
  
          document.getElementById("capWrapper").style.width = image.offsetWidth + image2.offsetWidth; 
      }
      var cap = document.getElementById("cap");
      if (caption != undefined && caption != null) {
          cap.innerHTML = caption.innerHTML;
          cap.style.display = "block";
          cap.style.marginTop = "20px";
      } else {
          cap.style.display = "none";
      }
      var overlays = document.getElementsByClassName("overlay");
        for (overlay of overlays) {
          overlay.classList.remove("visible");
        }
      popup.classList.add("visible");

      if (download) {
        popup.classList.remove("hide-download");
      } else {
        popup.classList.add("hide-download");
      }
  }    
  </script>